<div class="row" id="head">
	<div class="large-12 columns text-center good">
		<!-- <div id="tweeter" class="text-center smargin smargin-top secondary">
			<em>@AdamPietrasiak: I've just discovered amazing way to developed wensite in no time</em>
		</div> -->
		<h1 class="bmargin tmargin">Welcome to Topsite.com</h1>
		<%= image_tag "image-rails.png", size: "300x300"%>
	</div>
</div>
<div class="row inner pos-rel">
	<div class="large-12 columns text-center mmargin mmargin-top">
		<h2>What do you want to learn?</h2>
		<h4 class="slim secondary">
			That's new programing for Web Development 
		</h4>
	</div>
	<div class="down-triangle"></div>
</div>
<div class="row" id="about">
	<div class="large-12 columns nmargin-top nmargin text-center">
		<div class="large-3 small-6 columns style-hover team-single">
			<%= image_tag "ruby-icon.png" %>
			<h3>Ruby</h3>
		</div>
		<div class="large-3 small-6 columns style-hover team-single">
			<%= image_tag "rails-icon.png" %>
			<h3>Rails</h3>
		</div>
		<div class="large-3 small-6 columns style-hover team-single">
			<%= image_tag "sass-icon.png" %>
			<h3>Sass</h3>
		</div>
		<div class="large-3 small-6 columns style-hover team-single">
			<%= image_tag "cff-icon.png" %>
			<h3>Coffeescript</h3>
		</div>
		<div class="row">
			<div class="large-12 columns text-center">
				<h3 class="slim-title">I'm <em>Seyha</em></h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, animi consectetur dolorum similique odio nesciunt iste nam magni eius laborum maxime molestiae accusamus doloribus culpa quibusdam minus aliquid est maiores.</p>
			</div>
			<div class="large-12 columns">
				<div class="large-4 columns"></div>
				<div class="large-4 large-offset-4 columns good">
					<p class="slim-title style-hover"><%= image_tag("qq.png") %></p>
				</div>
				<div class="large-4 columns"></div>
			</div>
		</div>
	</div>
</div>
<div id="contact">
	<div class="row">
		<div class="large-8 large-offset-2 columns nmargin nargin-top">
			<div class="control-foot">
			<h2>Contact us</h2>
				<p class="tertiry">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis,<br>
				</p>
				<p>Laboriosam culpa ducimus quasi nobis. Quos, voluptas sunt illo soluta molestias nemo accusantium nostrum obcaecati veritatis? Quos, cumque ut quibusdam minus ullam?</p>
			</div>	
			<div class="large-6 columns"><input class="trans" type="text" placeholder="Your Name..."></div>
			<div class="large-6 columns"><input class="trans" type="text" placeholder="Your Email..."></div>
			<div class="large-6 columns"><input class="trans" type="text" placeholder="City..."></div>
			<div class="large-6 columns"><input class="trans" type="text" placeholder="Topic..."></div>
		   <div class="large-12 columns"><textarea name="" id="" cols="30" rows="7" placeholder="Content"></div>
		   <a href="" class="tiny button">Submit</a>
		</div>
	</div>
</div>
